@import 'reset';

body{
  background: #fff;
}

header{
  background: #FAFAFA;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  a{
    box-sizing: border-box;
    border-bottom: 2px solid #ccc;
    width:25%;
    display: inline-block;
    margin-left: -9px;
    text-align: center;
    padding: 12px;

    &:hover{

      .fa-heart{
        color: red;
    }
  }

    .fa{
      color: 111;
      font-size: 25px;
    }
  }
}

.container{
  background: #FAFAFA;
  padding-top: 50px;
  top: 50px;
  bottom: 0;
  width: 100%;
  position: absolute;

  .card{
    margin: 0 auto;
    background: white;
    width: 500px;
    height:500px;
    border: 1px solid #ccc;
    border-radius: 2px;

    .card-header{
      .profile-image{
        display: inline-block;
      }
      .profile-info{
        display: inline-block;
        .name{
          font-size: 14px;
          color: #111;
          font-weight: 700;
        }
        .location{
          font-size: 12px;
          color: 111;
        }
      }
      .time{
        display: inline-block;
      }
    }
  }
}
