@import 'reset';

body{
  background: #fff;
}

header{
  background: #FAFAFA;
  a{
    box-sizing: border-box;
    border-bottom: 2px solid #ccc;
    width:25%;
    display: inline-block;
    margin-left: -9px;
    text-align: center;
    padding: 12px;
    .fa{
      color: 111;
      font-size: 25px;
    }
  }
}
